.ant-tag {
    background-color: #D8E7FF;
    border: none;
    border-radius: 12px;
    color: #2B2B2B;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 1.36em;
    height: 1.643em;
    padding: 0.143em 0.86em;
}