.ant-tag {
    background-color: #D8E7FF;
    border: none;
    border-radius: 12px;
    color: #2B2B2B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    height: 1.643em;
    padding: 2px 12px;
}