 .button-container {
     border-radius: 8px;
     border: 1px solid transparent;
     padding: 0.6em 1.2em;
     font-size: 1em;
     font-weight: 500;
     font-family: inherit;
     cursor: pointer;
     transition: border-color 0.25s;
     background: rgba(60, 134, 244, 0.2);
     color: #3C86F4;

     &:hover {
         border-color: #646cff;
     }

    //  &:focus,
    //  &:focus-visible {
    //      outline: 4px auto -webkit-focus-ring-color;
    //  }

     &.initial-white {
        background-color: #FFFFFF;
        color: #175BC0;
        font-size: 12px;
        line-height: 1.33333em;
        font-weight: 700;
        width: fit-content;
        border-radius: 2em;
        padding: 1.33333em 5.25em;
     }
     &.initial-blue {
        background-color: #D8E7FF;
        color: #175BC0;
        font-size: 12px;
        line-height: 1.33333em;
        font-weight: 700;
        border-radius: 2em;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 12px;
     }
 }