.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5em;
    width: 100%;
    height: 4em;
    padding-right: 12.75em;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.333em;
    border-bottom: 1px solid #D8E7FF;

    .user-email {
        color: #2B2B2B;
    }

    .sign-out-link {
        color: #7EA0D2;
    }
}