.search-page-container {
    padding: 1.875em 8.125em 0 8.0625em;
    height: calc(100% - 3em);
    position: relative;

    .search-page-form {
        display: flex;
        flex-direction: row;

        .input-search {
            height: 2.5rem;
            border: 1px solid #D9D9D9;
            border-radius: 8px;
            width: 100%;
            font-family: inherit;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.357em;
            color: #2B2B2B;
            padding-left: 1.143em;
            padding-right: 1.571em;
            outline: none;
    
            &::placeholder { 
                color: #9F9F9F;
            }

            &::-webkit-search-cancel-button {
                cursor: pointer;
            }
        }

        .search-btn {
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            width: 12.7857em;
            height: 2.5rem;
            margin-left: 0.643em;
            margin-right: 0.929em;
        }
    }
    .results-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #2B2B2B;
        margin-top: 28px;
        margin-bottom: 20px;
    }

    .no-data-placeholder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.357em;
        color: #616161;
        text-align: center;
    }
}


.rdt_Table {
    .rdt_TableRow:not(:last-of-type) {
        border-bottom: none;
    }
    .rdt_TableHeadRow {
        border-bottom: none;
        min-height: 40px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        background-color: #f5f5f5;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .rdt_TableCol {
        border-left: 2px solid #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
    }

    .rdt_TableCol_Sortable span {
        height: 18px;
    }

    .rdt_TableCol_Sortable svg {
        opacity: 100% !important;

    }

}
